* {box-sizing: border-box; }

#wrapper{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-style: double;
    background-color: rgb(184, 191, 212);
    }
    
header {
        background-position: center; 
        background-repeat: no-repeat;
        text-align: center;
        
       }


nav {   text-align: center;
        font-weight: bold;
         
    }

nav ul { list-style-type: none;
    display: inline;
    text-align: center;
    font-size: 1.5em;
    margin: 5px; }

nav li { display: inline; }

nav a { text-decoration: none;
    padding-left: 10px;
    padding-right: 10px; 
    border: 1px outset  #FFFFFF ;} 

nav a:link{color:#3F2860;  }
nav a:visited{color: #497777;  }
nav a:hover{color: #A26100;
            border: 3px solid #333333 ;  }

#main { 
 
    display: block;
    overflow: auto; display: block; 
    margin: 5px;
    
  }

#address {
    border: 1px solid #000000;
    padding: 5px;
   }
   
footer{
    text-align: center;
    border-right: #000000;
    text-decoration: none; 
    }
footer a { text-decoration: none;
        padding-left: 10px;
        padding-right: 10px; 
        border-right-style:double ;} 

/* Media changed from full screen  */

@media only screen and ( min-width: 37.5em) {
           #wrapper {
                background-color: rgb(219, 248, 231);
            }
            header { font-size:xx-large;
            }
        }

/* Media changed from tablet mode  */
@media only screen and ( max-width: 64em) {
    #wrapper {
                background-color: rgb(202, 211, 248);
            }
    header { font-size: x-large;                   }
        
        }
/* Media changed to smart phone   */
        @media screen and ( max-width: 37.5em) {
            #wrapper {
                background-color: rgb(233, 225, 159);
            }
            header { font-size: large;
            }
            nav li { display: block; }

            p.removal
            { display: none;}

      }

